.player-container {
}

.music-player-container {
  width: 25vw;
  border: 0.1vh solid rgba(255, 255, 255, 0.2);
  border-radius: 2vh;
  backdrop-filter: blur(4px);
  color: #eee;
  padding: 1.5vh;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1vh;
  margin-top: 20px;
}

.album-thumbnail img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 1vh;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.4);
}

.music-info {
  font-size: 1.2vh;
}

.music-title {
  font-size: 14px;
}

.music-author {
  color: #ccc;
}

.music-controls {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 1vw;
}

.music-controls button {
  background: none;
  border: none;
  font-size: 1.6vh;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 50px; /* 필요 시 높이도 지정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-controls button svg {
  width: 100%;
  height: auto;
  max-width: 32px;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

#youtube-player,
iframe[src*="youtube.com"] {
  display: none !important;
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
  position: absolute !important;
  top: -9999px;
  left: -9999px;
  pointer-events: none;
  opacity: 0;
}

.season-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.season-buttons button {
  margin: 0 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  background-color: #eee;
  cursor: pointer;
  transition: 0.2s ease;
}

.season-buttons button.active {
  background-color: #999;
  color: white;
  font-weight: bold;
}

.nowPlayBox {
  display: flex;
  justify-content: left;
  gap: 10px;
  img {
    width: 20px;
  }
}
